python-dotenv
aiocsv
aiofiles
aiohttp
anthropic
beautifulsoup4
faiss-cpu
httpx
huggingface-hub
ipykernel
jupyterlab
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
openpyxl
pandas
requests
rich
tiktoken
transformers